.iPhoneCheckContainer {
    -webkit-transform:translate3d(0,0,0);
    position: relative;
    height: 27px;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 10px;
}

.iPhoneCheckContainer input {
    position: absolute;
    top: 5px;
    left: 30px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
}

.iPhoneCheckContainer label {
    white-space: nowrap;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: block;
    height: 27px;
    position: absolute;
    width: auto;
    top: 0;
    padding-top: 5px;
    overflow: hidden;
}

.iPhoneCheckContainer, .iPhoneCheckContainer label {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}

.iPhoneCheckDisabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}

div.iPhoneCheckBorderOn {
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    background-image: url('images/border-on.png');
    background-repeat: no-repeat;
}

label.iPhoneCheckLabelOn {
    color: white;
    background-image: url('images/label-on.png');
    background-repeat: repeat-x;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    left: 0;
    padding-top: 5px;
    margin-left: 4px;
    margin-top: 0px;
}

label.iPhoneCheckLabelOn span {
    padding-left: 4px;
}

label.iPhoneCheckLabelOff {
    color: #8b8b8b;
    background-image: url('images/label-off.png');
    background-repeat: repeat-x;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
    text-align: right;
    margin-right: 4px;
    margin-top: 0px;
    right: 0;
}

label.iPhoneCheckLabelOff span {
    padding-right: 4px;
}

div.iPhoneCheckBorderOff {
    position: absolute;
    width: 4px;
    height: 100%;
    background-image: url('images/border-off.png');
    background-repeat: no-repeat;
}

.iPhoneCheckHandle {
    display: block;
    height: 27px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background-image: url('images/handle-left.png');
    background-repeat: no-repeat;
    padding-left: 4px;
}

.iPhoneCheckHandleCenter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('images/handle-center.png');
    background-repeat: repeat-x;
}

.iPhoneCheckHandleRight {
    position: absolute;
    height: 100%;
    width: 4px;
    right: 0px;
    background-image: url('images/handle-right.png');
    background-repeat: no-repeat;
}
